StockTrackClient/Connected Services/TransactionService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TransactionService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/StocktrackService.models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransactionService_GetTransactionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionById" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransactionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransactionsByStore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsByStore" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransactionsByStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsByStoreResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransactionsByProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsByProduct" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_GetTransactionsByProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionsByProductResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_AddTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTransaction" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_AddTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_DeleteTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTransaction" />
  </wsdl:message>
  <wsdl:message name="ITransactionService_DeleteTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransactionService">
    <wsdl:operation name="GetTransactionById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/GetTransactionById" message="tns:ITransactionService_GetTransactionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/GetTransactionByIdResponse" message="tns:ITransactionService_GetTransactionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsByStore">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/GetTransactionsByStore" message="tns:ITransactionService_GetTransactionsByStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/GetTransactionsByStoreResponse" message="tns:ITransactionService_GetTransactionsByStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsByProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/GetTransactionsByProduct" message="tns:ITransactionService_GetTransactionsByProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/GetTransactionsByProductResponse" message="tns:ITransactionService_GetTransactionsByProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/AddTransaction" message="tns:ITransactionService_AddTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/AddTransactionResponse" message="tns:ITransactionService_AddTransaction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransactionService/DeleteTransaction" message="tns:ITransactionService_DeleteTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransactionService/DeleteTransactionResponse" message="tns:ITransactionService_DeleteTransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransactionService" type="tns:ITransactionService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTransactionById">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/GetTransactionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsByStore">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/GetTransactionsByStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsByProduct">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/GetTransactionsByProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/AddTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTransaction">
      <soap:operation soapAction="http://tempuri.org/ITransactionService/DeleteTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransactionService">
    <wsdl:port name="BasicHttpBinding_ITransactionService" binding="tns:BasicHttpBinding_ITransactionService">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/StocktrackService/TransactionService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>